<?xml version="1.0"?>
<model>
  <name>purdue</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Li-Yu Lin</name>
    <email>liyu8561501@gmail.com</email>
  </author>
  <description>Model of the Purdue engineering bulidings and main campus.</description>
</model>
